
.content
{
    display: flex;
    flex-direction: column;
    margin: 50px;
                                 
}
.wedding
{
    display: flex;
    font-family: 'Dancing Script', cursive;
    
    text-align: left;
    color:  #bd945a;
}
.organization
{
    text-align: left;
}